<nav class=" navbar  bg-light  navbarMe">

    <div class="navs">
        <ul>
        <a href="/"><li>Today</li></a> 
        <a href="/work"><li>Work</li></a> 
        </ul>
    </div>



    <div class="box">
    <form id="form1">
   
    <input type="text" id="input" placeholder="enter city name">
        <a href="#" id="sbmt" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </form>
    </div>
</nav>
